<div class="card-header">
  <h1>Personajes del Reino {{ realm.name }}</h1>
  <img class="imgRealm" [src]="realm.image" alt="Imagen del reino">
</div>
  <div class="" *ngIf="realm">
    <ul class="card">
      <li *ngFor="let character of realm.characters">
        <p>{{ character.name }}</p>
        <img class="charIMG" [src]="character.image && character.image.includes('http') ? character.image : '/img/' + character.image" alt="Imagen del personaje" />
        <p>Poder: {{ character.power }}</p>
        <p>Elemento: {{ character.elementName }} </p>
        <button class="button-custom" [routerLink]="'/character/detail/'+ character.id">Descripción</button>
      </li>
    </ul>
  </div>
  <div class="card-button">
    <button class="cancelButton" type="button" [routerLink]="'/realm/all'" >Cerrar</button>
  </div>
