<h1 class="tittle">Crear Personaje</h1>

<form [formGroup]="createForm">
  <div class="form-row">
    <!-- NOMBRE -->
    <div class="form-group">
        <label for="name">Nombre:  </label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="createForm.controls['name'].invalid && createForm.controls['name'].touched">
          <small style="color: red; font-size: 22px;">El nombre es obligatorio</small>
        </div>
    </div>
     <!-- REINO -->
    <div class="form-group">
      <label>Reino: </label>
      <select formControlName="realm">
          <option *ngFor="let realm of realms" [value]="realm.id">{{ realm.name }}</option>
      </select>
  </div>
   <!-- PODER -->
  <div class="form-group">
    <label for="name">Poder: </label>
    <input type="text" class="form-control" id="power" formControlName="power">
    <div *ngIf="createForm.controls['power'].invalid && createForm.controls['power'].touched">
      <small style="color: red; font-size: 22px;">El poder tiene que ser un numero</small>
    </div>
  </div>
   <!-- ELEMENTO -->
   <div class="form-group">
    <label>Elemento: </label>
    <select formControlName="element">
      <option *ngFor="let element of elements" [value]="element.id">{{ element.name }}</option>
    </select>
  </div>
  <!-- IMAGEN -->
<!-- Input para subir imagen -->
<div class="form-group">
  <label for="imageFile">Subir Imagen: </label>
  <input type="file" class="form-control" id="imageFile" (change)="onFileSelected($event)">
</div>
<!-- Input para URL de imagen -->
<div class="form-group">
  <label for="imageUrl">O ingresa una URL: </label>
  <input type="text" class="form-control" id="imageUrl" formControlName="image">
</div>
<!-- Vista previa de imagen -->
<img [src]="imagePreview || createForm.value.image || defaultImage" 
alt="Vista previa" style="max-width: 200px; margin-top: 10px; justify-self: center;">

<div style="justify-self: center;" *ngIf="createForm.controls['image'].invalid && createForm.controls['image'].touched">
  <small style="color: red;">URL de imagen inválida</small>
</div>
   <!-- DESCRIPCION   -->
   <div class="form-group">
    <label for="description">Descripción: </label>
    <br>
    <textarea maxlength="150" name="description" id="description" cols="60" rows="5" placeholder="Descripción del personaje" formControlName="description"></textarea>
    <div *ngIf="createForm.controls['description']">
    </div>
  </div>
</div>
<!-- BOTON -->
 <div class="btnSave">
  <button type="submit" class="save" (click)="save()">Crear</button>
  </div>
</form>