<h1 class="TM">Tierras Magicas</h1>
<nav class="navbar">
    <h2 class="routes" [routerLink]="'/character/create'">Agregar Personaje</h2>
    <h2 class="routes" [routerLink]="'/realm/create'">Agregar Reino</h2>
    <h2 class="routes" [routerLink]="'/character/all'">Ver Personajes</h2>
    <h2 class="routes" [routerLink]="'/realm/all'">Ver Reinos</h2>
    <h2 class="routes" [routerLink]="'/search'">Buscar</h2>
   <!--  <form class="header-form" id="form-search">
    <app-search></app-search>
    </form> -->
    <h2 class="routes" [routerLink]="'/user/login'">Login</h2>
    <h2 class="routes" [routerLink]="'/realm/admin'">Adminisrador <i class="fa-solid fa-user"></i></h2>
  </nav>