.CharName {
  font-size: 40px;
  text-decoration-line: underline;
  justify-self: center;
  text-align: center;
}

.charTittle {
  font-size: 20px;
  text-decoration: underline;
}

.card {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 40px 0px;
}

.charIMG {
    height: 240px;
    object-fit: contain;
}

ul {
    display: flex;
}

li {
    border: 1px solid black;
    width: 130px;
    border-width: 4px 5px 3px 3px;
    min-height: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    justify-self: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


/* botones */
.card-button {
    justify-self: center;
    margin-top: 18px;
}

.cancelButton {
    background-color: darkgrey;
    font-size: 18px;
    padding: 0px 22px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 8px;
}

.cancelButton {
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 22px;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
}