<h1>Detalles del Personaje: {{ Personaje.name }}</h1>

<div class="card-header">
  <div class="" *ngIf="Personaje">
    <ul class="card">
        <li *ngIf="Personaje ">
          <img [src]="'/img/' + Personaje.image" alt="Imagen del personaje">
        </li>
        <div>
          <p>Reino: {{ Personaje.realm || 'Sin reino' }}</p>
          <p>Poder: {{ Personaje.power }}</p>
          <p>Elemento: {{ Personaje.element }} </p>
        </div>
        <p class="description">Descripción: {{ Personaje.description }}</p>
      </ul>
    </div>
    <div class="card-button">
      <button class="cancelButton" type="button" [routerLink]="'/character/all'" >Cerrar</button>
    </div>
  </div>
  