<h1 class="CharName">Detalles del Personaje <br>{{ Personaje.name }}</h1>

<div class="card-header">
  <div class="" *ngIf="Personaje">
    <ul class="card">
      <div>
        <p class="charText"><b class="charTittle">Reino:</b> {{ Personaje.realm || 'Sin reino' }}</p>
        <p class="charText"><b class="charTittle">Poder:</b> {{ Personaje.power }}</p>
        <p class="charText"><b class="charTittle">Elemento:</b> {{ Personaje.element }} </p>
      </div>
      <li *ngIf="Personaje ">
        <img class="charIMG" [src]="Personaje.image && Personaje.image.includes('http') ? Personaje.image : '/img/' + Personaje.image" alt="Imagen del personaje" />
      </li>
        <p class="description"><b class="charTittle">Descripción:</b> {{ Personaje.description }}</p>
      </ul>
    </div>
    <div class="card-button">
      <button class="cancelButton" type="button" [routerLink]="'/character/all'" >Cerrar</button>
    </div>
  </div>
  