h1 {
    font-size: 40px;
    font-weight: bold;
    text-decoration-line: underline;
    justify-self: center;
}

form {
    justify-items: center;
    margin-top: 30px;
}

.editField {
    padding: 10px 0px;
}

.editField {
    font-size: 26px;
    font-weight: bold;
    text-align-last: center;
}

input#name {
    border: 1px solid black;
    border-radius: 8px;
}

input#power {
    border: 1px solid black;
    border-radius: 8px;
}

select {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1px 6px;
}

textarea {
    border: 1px solid black;
    border-radius: 8px;
}

.imgChar {
    max-width: 240px;
    mix-blend-mode: color-burn;
    padding: 30px 0px;
    border-width: 4px 5px 3px 3px;
    min-height: -webkit-fill-available;
    margin: 15px 0px;
}

/* botones */
.editButtons {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.editButton {
    background-color: greenyellow;
    font-size: 18px;
    padding: 0px 22px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 8px;
}

.cancelButton {
    background-color: darkgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 22px;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
}
