<h1>Vista Personajes por Reino</h1>

<!-- <div class="cardBody">
    <div class="card" *ngFor="let realm of realmPerCharacter">
        <h2>Reino {{ realm.name }}</h2>
        <img [src]="realm.image" alt="Imagen del reino">
        <h3>Personajes:</h3>
    <ul>
        <li *ngFor="let character of realm.characters">
            <p>{{ character.name }} - Reino {{ character.realmName }}</p>
            <img [src]="'/img/' + character.image" alt="Imagen del personaje">
            <p>Poder: {{ character.power }} - Elemento: {{ character.elementName }} </p>
            <p>- Descripción: {{character.description}}</p>
      </li>
    </ul>
    </div>
</div> -->

<div class="dashboard">
    <div class="accordion">
      <div class="accordion-item" *ngFor="let realm of realmPerCharacter; let i = index">
        <input type="checkbox" id="accordion-realm-{{ i }}" class="accordion-toggle">
        <label for="accordion-realm-{{ i }}" class="accordion-header">
          Reino {{ realm.name }}
        </label>
        <div class="accordion-content">
          <h3>Personajes:</h3>
          
          <div class="accordion">
            <div class="accordion-item" *ngFor="let character of realm.characters; let j = index">
              <input type="checkbox" id="accordion-character-{{ i }}-{{ j }}" class="accordion-toggle">
              <label for="accordion-character-{{ i }}-{{ j }}" class="accordion-header character-header">
                {{ character.name }}
              </label>
              <div class="accordion-content">
                <div class="accordion-atributtes">
                    <img [src]="'/img/' + character.image" alt="Imagen del personaje" class="character-image">
                    <div class="atributtes">
                        <p>Reino: {{ character.realmName }}</p>
                        <p>Poder: {{ character.power }}</p>
                        <p>Elemento: {{ character.elementName }}</p>
                    </div>
                    <p class="description">Descripción: {{ character.description }}</p>
                </div>
            </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
