<h1>Vista Personajes por Reino</h1>
<div class="dashboard">
    <div class="accordion">
      <div class="accordion-item" *ngFor="let realm of realmPerCharacter; let i = index">
        <input type="checkbox" id="accordion-realm-{{ i }}" class="accordion-toggle">
        <label for="accordion-realm-{{ i }}" class="accordion-header">
          Reino {{ realm.name }}
        </label>
        <div class="accordion-content">
          <h3>Personajes:</h3>
          
          <div class="accordion">
            <div class="accordion-item" *ngFor="let character of realm.characters; let j = index">
              <input type="checkbox" id="accordion-character-{{ i }}-{{ j }}" class="accordion-toggle">
              <label for="accordion-character-{{ i }}-{{ j }}" class="accordion-header character-header">
                {{ character.name }}
              </label>
              <div class="accordion-content">
                <div class="accordion-atributtes">
                  <img class="character-image" [src]="character.image && character.image.includes('http') ? character.image : '/img/' + character.image" alt="Imagen del personaje" />
                  <div class="atributtes">
                        <p><b>Reino:</b> {{ character.realmName }}</p>
                        <p><b>Poder:</b> {{ character.power }}</p>
                        <p><b>Elemento:</b> {{ character.elementName }}</p>
                    </div>
                    <p class="description"><b></b> {{ character.description }}</p>
                </div>
            </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
<app-sky-button></app-sky-button>

